<body>
  <h1>New game</h1>
  <%= @letters %>
  <p>What is the longest word you can find?</p>
  <form action="score">
    <input type="text" name="new">
    <input type="submit" value="Play">
  </form>
</body>
